<div class="container">
  <h1>I’m Louis Campbell</h1>
  <h2>A Software Engineer <br>
    based in Luxembourg</h2>
  <p>Specialised in building enterprise<br>
    grade applications on the<br>
    Microsoft .NET Stack.
  </p>
  <div>
    <a href="https://media.graphcms.com/ZlJYjZEMTCWlwVm378qZ" target="_blank" class="outline">Download Resume</a>
    <a href="#projects">See my Work</a>
  </div>
</div>
<div class="scroll">
  <a href="yourlink">
    <div class="mouse">
      <div class="wheel"></div>
    </div>
  </a>
</div>
