<div class="container">
  <h2>Skills</h2>
  <section>
    <article>
      <h3>Technology Skills</h3>
      <div>
        <h4>Programming Fundamentals</h4>
        <p>Design Patterns, Data Structures, SOLID</p>
        <h4>Programming Languages</h4>
        <p>C#, C++, Java, TypeScript, JavaScript, PHP</p>
        <h4>Web Frameworks</h4>
        <p>ASP.NET Core, Angular, NodeJS, Nest.JS</p>
        <h4>Other Technologies</h4>
        <p>RXJS, REST, GraphQL, HotChocolate SQL Server, SQL</p>
      </div>
    </article>
    <article>
      <h3>Leadership Skills</h3>
      <div>
        <h4>Project Management</h4>
        <p>Agile, Scrum, Kanban</p>
        <h4>Technical Writing and Product Guidance</h4>
        <h4>Consulting</h4>
        <h4>DevOps</h4>
        <h4>Training</h4>
      </div>
    </article>
    <article>
      <h3>Other Skills</h3>
      <div>
        <h4>UX & UI Design</h4>
        <p>Adobe XD, Adobe Illustrator</p>
        <h4>Source Control</h4>
        <p>Git, TFS</p>
        <h4>IDE</h4>
        <p>Jetbrains Suite, Visual Studio</p>
        <h4>Other Software</h4>
        <p>GSuite, Microsoft 365, Jira, Docker</p>
      </div>
    </article>
  </section>
</div>
