<div class="container">
  <h2>Contact</h2>
  <section>
    <div class="body">
      <h3>Lets Get in Touch</h3>
      <div class="lower">
        <div class="left">
          <label>
            Name*
            <input type="text">
          </label>
          <label>
            Email Address*
            <input type="text">
          </label>
          <label>
            Phone Number
            <input type="text">
          </label>
        </div>
        <div class="right">
          <label for="message">
            Your message
          </label>
          <textarea id="message"></textarea>

        </div>
      </div>
      <div class="footer">
        <button>Send</button>
      </div>
    </div>
  </section>
</div>

