<h2>Skills</h2>
<section>
  <article>
    <h3>Technology Skills</h3>
    <div>
      <h4>Programming Fundamentals</h4>
      <p>Design Patterns, Data Structures, SOLID</p>
      <h4>Programming Languages</h4>
      <p>C#, C++, Java, TypeScript, JavaScript, PHP</p>
      <h4>Web Frameworks</h4>
      <p>ASP.NET Core, Angular, NodeJS, Nest.JS</p>
      <h4>Other Technologies</h4>
      <p>RXJS, REST, GraphQL, HotChocolate SQL Server, SQL</p>
    </div>
  </article>
  <article>
    <h3>Leadership Skills</h3>
    <div>
      <h4>Programming Fundamentals</h4>
      <p>Design Patterns, Data Structures, SOLID</p>
      <h4>Programming Languages</h4>
      <p>C#, C++, Java, TypeScript, JavaScript, PHP</p>
      <h4>Web Frameworks</h4>
      <p>ASP.NET Core, Angular, NodeJS, Nest.JS</p>
      <h4>Other Technologies</h4>
      <p>RXJS, REST, GraphQL, HotChocolate SQL Server, SQL</p>
    </div>
  </article>
  <article>
    <h3>Other Skills</h3>
    <div>
      <h4>Programming Fundamentals</h4>
      <p>Design Patterns, Data Structures, SOLID</p>
      <h4>Programming Languages</h4>
      <p>C#, C++, Java, TypeScript, JavaScript, PHP</p>
      <h4>Web Frameworks</h4>
      <p>ASP.NET Core, Angular, NodeJS, Nest.JS</p>
      <h4>Other Technologies</h4>
      <p>RXJS, REST, GraphQL, HotChocolate SQL Server, SQL</p>
    </div>
  </article>
</section>
