:host {
  height: 100vh;
  @media screen and (max-width: 768px) {
    min-height: 100vh;
    height: auto;
  }
  width: 100%;
  background-color: #141D47;
  color: white;
  display: flex;

  section {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;


    .container {
      article {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
          flex-direction: column;
        }

        .right {
          @media screen and (max-width: 768px) {
            width: 100%;
            height: auto;
          }
          height: 65%;
          width: 59%;
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .body {
            text-align: justify;
            .header {
              @media screen and (max-width: 768px) {
                flex-direction: column;
              }
              width: 100%;
              display: flex;
              justify-content: space-between;

              .headings {
                @media screen and (max-width: 768px) {
                  width: 100%;
                }
                width: 50%;
                span.line {
                  border: 1px solid white;
                  height: 1px;
                  display: block;
                  width: 2rem;
                  margin-bottom: 1rem;
                }

                h2 {
                  font-weight: bold;
                  font-size: 20px;
                }

                h3 {
                  font-size: 20px;
                  margin-bottom: .5rem;
                }
              }

              .buttons {
                margin-top: 1rem;
                margin-bottom: 1rem;
                a {
                  text-decoration: none;
                  box-sizing: content-box;
                  color: white;
                  border: 1px solid white;
                  margin-top: 10px;
                  padding: 10px 20px;
                  background: transparent;
                  border-radius: 5px;
                  opacity: 1;
                  transition: all ease-in-out 100ms;
                  &:nth-of-type(2){
                    margin-left: 1rem;
                  }

                  &:hover {
                    background-color: #7217E2;
                    border: #7217E2 1px solid;
                    color: white;
                  }
                }
              }
            }
            .content{
              padding-right: 1rem;
              overflow-y: auto;
            }

          }

          .footer {
            a {
              &:link{
                color: #64c5e2 !important;

              }
              text-decoration: none;
            }
          }
        }

        .left {
          @media screen and (max-width: 768px) {
            width: 100%;
            height: 40vh;
            margin-bottom: 1rem;
          }
          height: 65%;
          width: 35%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          iframe, div {
            width: 100%;
            height: 60%;
            background-size: cover;
            background-repeat: no-repeat;
          }

          .images {
            display: flex;
            justify-content: space-between;

            width: 100%;
            height: 39%;

            div {
              width: 49%;
              height: 100%;
              background-size: cover;
              background-repeat: no-repeat;
              background-image: url("/assets/herobg.png");
            }
          }
        }


      }
    }


  }
}
