<h2>Career</h2>
<section>
  <div class="career">
    <ul>
      <li>
        <div>
          <span class="year">2020 - now</span>
          <div>
            <h3>Chief Technologist at Edutec</h3>
            <span>Full time</span>
          </div>
        </div>
      </li>
      <li>
        <div>
          <span class="year">2020 - now</span>
          <div>
            <h3>Software engineer at Edutec</h3>
            <span>High School Diploma</span>
          </div>
        </div>
      </li>
      <li>
        <div>
          <span class="year">2020 - now</span>
          <div>
            <h3>BTS Game Programming and Design Student at Lycée des Arts et Metiers</h3>
            <span>Associates Degree</span>
          </div>
        </div>
      </li>
      <li>
        <div>
          <span class="year">2020 - now</span>
          <div>
            <h3>Developer at Electro-Center</h3>
            <span>2 Month Contract</span>
          </div>
        </div>
      </li>
      <li>
        <div>
          <span class="year">2020 - now</span>
          <div>
            <h3>General High School Diploma with IT Specialisation at Lycée des Arts et Metiers</h3>
            <span>High School Diploma</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

