@import "../../../colors";

:host {
  display: block;
  position: fixed;
  will-change: transform;
  width: 100%;
  z-index: 10;

  .linkedIn {
    transition: transform 200ms ease-in-out;
    position: absolute;
    height: 80px;
    display: flex;
    align-items: center;
    right: (15% / 2);
    top: 0;

    &:hover {
      transform: scale(1.2);
    }
  }

  nav {
    &.active {
      background-color: $primary;
    }

    margin: 0;
    transition: background-color 200ms ease-out;
    width: 100%;
    height: 80px;

    .container {
      ul {
        padding: 0;
        height: 100%;
        width: 40%;
        max-width: 720px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;

        li {
          a {
            font-size: 20px;
            color: white;
            text-decoration: none;

            &:active {
              color: black;
              background-color: white;
            }

            &:hover {
              color: black;
              background-color: white;
            }
          }
        }
      }

      button.hamburger {
        padding-left: 0;
      }

      display: flex;
      align-items: center;
      height: 100%;
    }

    @media screen and (max-width: 1600px) {
      .container{
        ul{
          width: 50%;
        }
      }
    }


    @media screen and (max-width: 1400px) {
      .container{
        ul{
          width: 70%;
        }
      }
    }

    @media screen and (min-width: 769px) {
      button {
        display: none;
      }
    }
    @media screen and (max-width: 768px) {
      .container > ul {
        display: none;
        margin: 0;
      }
      .container{
        button{
          z-index: 1;
        }
        ul.mobile-active {
          z-index: 0;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          display: flex;
          padding: 0;
          align-items: center;
          justify-content: center;
          background-color: $darkPurpleBg;
          flex-direction: column;

          li {
            a {
              color: white;
            }
          }
        }
      }
    }
  }
}

