$primary: #7217E2;
$lightPurpleBg: #603C8C;
$secondary: #FFFFFF;
$darkPurpleBg:#0B0F21;
$secondary: #FF12A0;
$hamburger-layer-color         : #fff !default;
$hamburger-hover-opacity       : 1 !default;
